.filter {
    display: grid;
    grid-template-columns: 1fr min-content;
    & button {
        margin: 1rem 0 1rem 1rem;
    }
}
table {
    border-top: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    & .td-align {
        text-align: center;
    }
}

mat-form-field {
    width: 100%;
}
