<mat-card class="mat-elevation-z8">
  <mat-card-title class="title">LYT <mat-icon>store</mat-icon> </mat-card-title>
  
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="details">
      <div>
        <mat-label>Cantidad: </mat-label> <span>200</span>
      </div>
      <div>
        <mat-label>Enviadas: </mat-label><span>%</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="abstract">
      <div >
        <mat-icon class="ok">brightness_1</mat-icon>
        <mat-label>Ok <span>(%)</span></mat-label>
      </div>
      <div>
        <mat-icon class="alert">brightness_1</mat-icon>
        <mat-label>Alerta <span>(%)</span></mat-label>
      </div>
      <div>
        <mat-icon class="error">brightness_1</mat-icon>
        <mat-label>Tarde <span>(%)</span></mat-label>
      </div>
    </div>
    <button>prba</button>
  </mat-card-content>
</mat-card>
