@import './assets/css/vars';
@import '~@angular/material/theming';
@include mat-core();

$sd-primary: (
  1: $HC-primary,
  contrast: (
    1: $HC-white
  )
);
$sd-secondary: (
  1: $HC-dark-gray,
  2: $HC-light-gray,
  contrast: (
    1: $HC-white,
    2: $HC-gray
  )
);
$sd-success: (
  1: $HC-success,
  contrast: (
    1: $HC-white
  )
);
$sd-warning: (
  1: $HC-warning,
  contrast: (
    1: $HC-black
  )
);
$sd-danger: (
  1: $HC-danger,
  contrast: (
    1: $HC-white
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TIP-primary: mat-palette($sd-primary, 1);
$TIP-accent: mat-palette($sd-success, 1);

// The warn palette is optional (defaults to red).
$TIP-warn: mat-palette($sd-danger, 1);

// Create the theme object (a Sass map containing all of the palettes).
$TIP-theme: mat-light-theme($TIP-primary, $TIP-accent, $TIP-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TIP-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #efefef;}
